body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: #4d4d4d;
    background-color: rgb(201, 201, 201);
    margin-top: 100px;
}

#app {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    width: 600px;
}

.todo-title {
    font-size: 30px;
    font-weight: 350;
    text-align: center;
    margin-bottom: 30px;
}

.add-todo {
    /* display: grid; */
    border-bottom: 0.5px rgb(176, 176, 176) solid;
    justify-content: center;
    align-items: center;
}

.add-todo input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px rgb(176, 176, 176) solid;
    outline: none;
    margin-bottom: 50px;
    justify-content: center;
}

.add-todo button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: white;
    /* margin-left: 10px; */
    padding: 5px 10px;
    background-color: #17a2b8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    justify-content: center;
    margin: 15px;
}

.todo-item {
    padding: 15px 0;
    border-bottom: 0.5px rgb(176, 176, 176) solid;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.todo-list .todo-content {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.todo-list #finish-btn {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    padding: 5px 0;
    background-color: #e02150;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.finished-item {
    padding: 15px 0;
    border-bottom: 0.5px rgb(176, 176, 176) solid;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.finished-item .finished-content {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: gray;
    text-decoration: line-through;
}

.finished-item #del-btn {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    padding: 5px 0;
    background-color: #b4b4b4;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}